/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* ------------- Footer */
footer {
	background-color: rgb(34, 34, 34);
	padding: 32px;
	width: 100vw;
	color: whitesmoke;
}

footer p:nth-child(1) {
	text-transform: uppercase;
	font-size: 0.8rem;
}

footer p:nth-child(2) {
	font-weight: bold;
	font-size: 0.9rem;
}

footer p:nth-child(3) {
	font-size: 0.8rem;
}





/* ------------- Navbar */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 24px;
	background-color: var(--color-nav);
	color: var(--color-light);
	font-size: 0.8rem;
}

nav {
	width: 100%;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 5%;
	text-transform: uppercase;
	list-style-type: none;
}

nav ul li {
	min-width: 10%;
	max-width: 20%;
}

nav ul li:hover {
	cursor: pointer;
	font-weight: bold;
}









/* Início */


label {
	display: block;
	margin-bottom: 0.25rem;
}

input, select, option,
textarea {
	/* display: block; */
	/* width: 100%; */
	border: 1px solid #ccc;
	padding: 0.8rem;
	border-radius: var(--radius);
	background: #eee;
	transition: 0.2s;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: var(--color);
	background: white;
	box-shadow: 0 0 0 3px var(--color-light);
}

button {
	cursor: pointer;
	border: none;
	border-radius: var(--radius);
	transition: 0.1s;
	background: var(--color);
	color: var(--color-dark);
	padding: 0.8rem 1.6rem;
}

button:hover,
button:focus {
	background: var(--color);
	box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
	outline: none;
}

button:active {
	box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
	opacity: 0.5;
	cursor: wait;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #888;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}



/* ------------- HomePage */
#home-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
	gap: 5%;
}

#home-section main {
	flex: 0 0 60%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 75% */
	max-width: 60%;
	text-align: justify;
}

#home-section aside {
	flex: 0 0 20%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
	text-align: left;
}

#home-section aside p {
	line-height: 24px;
	margin: 0;
}