*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--font-size: 1.2rem;
	--font: Georgia, 'Times New Roman', Times, serif;
	--font-title: Georgia, 'Times New Roman', Times, serif;
	
	--color-nav: #222;
	--color: #19f;
	--color-light: rgb(230, 230, 230);
	--color-dark: #fff;
	--radius: 0.2rem;
}

html {
	font-size: calc(12px + 0.5vw);
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	min-width: 320px;
	background-color: #ccc;
	text-align: center;
}

body,
input,
textarea,
button {
	font-family: var(--font);
	font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-title);
	font-weight: bold;
	margin: 8px 0;
}

p {
	font-family: var(--font);
	font-size: 1rem;
	margin: 16px 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.1rem;
}

form {
	width: 70%;
	display: flex;
	flex-direction: column;
	place-content: center;
}

label {
	display: flex;
	place-content: center;
	gap: 0.5%;
	width: 90%;
}

form label p {
	width: 40%;
	text-align: end;
}

label select, select label p {
	width: 40%;
	height: 36px;
	margin: 8px 0;
}

section label:nth-child(1) {
	margin-bottom: 80px;
}

form input,
form textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.2rem;
	margin: 8px 16px;
	border-radius: var(--radius);
	background: #eee;
	transition: 0.2s;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 24px;
	min-height: 70vh;
	width: 100%;
}


/* Button */

input:focus,
textarea:focus {
	outline: none;
	border-color: var(--color);
	background: white;
	box-shadow: 0 0 0 3px var(--color-light);
}

button {
	cursor: pointer;
	border: none;
	border-radius: var(--radius);
	transition: 0.1s;
	background: var(--color);
	color: var(--color-dark);
	padding: 0.8rem 1.6rem;
	width: fit-content;
	margin: 32px auto;
}

button:hover,
button:focus {
	background: var(--color);
	box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
	outline: none;
}

button:active {
	box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
	opacity: 0.5;
	cursor: wait;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #888;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}


/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position: relative;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 80%;
	min-width: 60%;
	min-height: 80%;
	max-height: 80%;
	overflow: auto;
	padding: 16px;
}

.closeModal {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	align-self: flex-start;
	font-size: 8px;
	background-color: #f66;
}
